@font-face {
  font-family: "nasalization";
  src: url("../fonts/nasalization-rg.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

html {
  background-color: #c76524;
  width: 100vw;
  height: 100vh;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
  min-height: 200px;
  border-left: 10px solid #87a2f0;
  margin-top: 30px;
  margin-bottom: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.82);
  border-top-right-radius: 35px;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  background: #2c4171;
}

h1 {
  padding: 10px;
  margin: 0;
  font: 37px "nasalization";
  color: #ffffff;
  text-shadow: 1px 1px 10px black;
}

.date-inputs {
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
}

button:active {
  background-color: #87a2f0;
}

.date-inputs button {
  width: 100%;
  height: 55px;
  border: none;
  box-sizing: border-box;
  font: 30px "nasalization";
  background-color: #87a2f0;
  border-radius: 0px;
  border-top-right-radius: 15px;
}

.date-inputs button:hover {
  background-color: white;
}

.date-inputs input {
  width: 80px;
  height: 30px;
  border: none;
  box-sizing: border-box;
  margin-right: 0;
  box-shadow: .5px 2px 5px rgba(0, 0, 0, 0.3);
  font: 15px "nasalization";
}

.date-inputs div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  color: #000000;
  background-color: #87a2f0;
  height: 25px;
  box-sizing: border-box;
  font-family: "nasalization";
}

.result {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.result ul {
  padding: 5px;
  list-style: none;
  border-top-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.83);
  border-left: 15px solid #87a2f0;
  box-shadow: .5px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: "lato";
}

@media screen and (max-width: 700px) {
  .app {
    width: 300px;
    min-height: 150px;
    padding: 0;
  }
  .date-inputs input {
    width: 55px;
    font-size: 12px;
    height: 30px;
  }
  label {
    width: 55px;
    font-size: 14px;
    height: 15px;
    padding: 0;
  }
  .date-inputs button {
    height: 45px;
    width: 70px;
    font-size: 16px;
  }
  h1 {
    font-size: 20px;
  }
  .result {
    width: 80%;
    font-size: 12px;
  }
}
