body {
  display: flex;
  justify-content: center;
  font-family: "verdana";
  }

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  background-color: #c7d3f4;
  padding: 20px;
  box-sizing: border-box;
  min-height: 200px;
  border-left: 4px solid royalblue;
  margin-top: 20px;
  box-shadow: .5px 2px 5px rgba(0, 0, 0, 0.3);
}

.date-inputs {
  margin-top: 5px;
  width: 400px;
  display: flex;
  align-items: flex-end;
}

.date-inputs button {
  background-color: royalblue;
  height: 100%;
  font-size: 20px;
}

button:active {
  background-color: #87a2f0;
}
.date-inputs button {
  width: 100%;
  height: 60px;
  border: none;
  box-sizing: border-box;
  box-shadow: .5px 2px 5px rgba(0, 0, 0, 0.3);
}


.date-inputs input {
  width: 80px;
  height: 30px;
  font-size: 18px;
  border: none;
  box-sizing: border-box;
  margin-right: 0;
  box-shadow: .5px 2px 5px rgba(0, 0, 0, 0.3);
}

.date-inputs div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  color: azure;
  background-color: black;
  padding: 5px;
  height: 30px;
  box-sizing: border-box;
}

.result {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.result ul {
  padding: 5px;
  list-style: none;
}

.result ul li {
  background-color: #ffffff;
  padding: 7px;
  border-radius: 5px;
  border-right: 3px solid royalblue;
  border-left: 3px solid royalblue;
  box-shadow: .5px 2px 5px rgba(0, 0, 0, 0.3);
}
